openapi: 3.2.0
info:
  title: Spreedly API V1 Payment Methods API
  version: v1
  description: An OpenAPI specification file for V1 of the Spreedly Core Transactional API
servers:
- url: https://core.spreedly.com/v1
tags:
- name: payment_methods
paths:
  /payment_methods/events:
    get:
      summary: List all payment method events
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: list-all-payment-method-events
      description: 'Retrieve an ordered and paginated list of all payment method events in the authenticated environment.


        Payment method events track important changes to payment methods such as creation, retention, redaction, and other lifecycle events. This endpoint allows you to retrieve these events with optional filtering and pagination.


        *Response Format*


        The response format varies by event type:

        - `AddPaymentMethod` events are returned as `transaction` objects with embedded payment method data

        - All other events are returned as `payment_method_event` objects

        '
      parameters:
      - name: order
        in: query
        description: The order of the returned list. Default is `asc`, which returns the oldest records first. To list newer records first, use `desc`.
        schema:
          type: string
      - name: since_token
        in: query
        description: The token of the item to start from (e.g., the last token received in the previous list if iterating through records)
        schema:
          type: string
      - name: event_type
        in: query
        description: Filter events by event type (e.g., AddPaymentMethod, RetainPaymentMethod, RedactPaymentMethod, ReplacePaymentMethod, UpdatePaymentMethod)
        schema:
          type: string
      - name: count
        in: query
        description: The number of events to return. By default returns 20, maximum allowed is 100.
        schema:
          type: string
      - name: include_transactions
        in: query
        description: Whether to include gateway transactions alongside events. Default is `false`. When `true`, returns a unified timeline of events and transactions sorted by creation time.
        schema:
          type: boolean
      responses:
        '200':
          description: successful
          content:
            List events:
              examples:
                application/json:
                  value:
                    payment_method_events:
                    - token: SxrP4mNRxF0CRQxKIbAQNTnPF0k
                      request_id: 86512117-dc11-4742-ad5a-91d64fb3e395
                      payment_method_key: Cq5kiRP6dXFVRjab
                      event_type: UpdatePaymentMethod
                      event_data:
                        changed_attributes:
                          eligible_for_card_updater: false
                      created_at: '2025-10-09T19:28:04Z'
                      state: succeeded
                      message: messages.transaction_succeeded
                    - token: 4W4TFJ8TJW9AJ92RFXR2JYJGB0
                      request_id: null
                      payment_method_key: Cq5kiRP6dXFVRjab
                      event_type: RedactPaymentMethod
                      event_data: null
                      created_at: '2025-10-09T19:28:04Z'
                      state: succeeded
                      message: null
                    - token: 0B9BK4CYRC9058XQ9TCJRP2NKK
                      created_at: '2025-10-09T19:28:04Z'
                      updated_at: '2025-10-09T19:28:04Z'
                      succeeded: true
                      transaction_type: AddPaymentMethod
                      retained: true
                      state: succeeded
                      message: null
                      payment_method:
                        token: Cq5kiRP6dXFVRjab
                        created_at: null
                        updated_at: null
                        email: test@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata: null
                        callback_url: null
                        last_four_digits: '1111'
                        first_six_digits: '411111'
                        card_type: visa
                        first_name: Gertrud
                        last_name: Gusikowski
                        month: 4
                        year: 2027
                        address1: 116 Main Street
                        address2: null
                        city: Durham
                        state: NC
                        zip: '27705'
                        country: US
                        phone_number: 123-456-7890
                        company: null
                        full_name: Gertrud Gusikowski
                        eligible_for_card_updater: true
                        shipping_address1: 116 Main Street
                        shipping_address2: null
                        shipping_city: Durham
                        shipping_state: NC
                        shipping_zip: '27705'
                        shipping_country: US
                        shipping_phone_number: 123-456-7890
                        issuer_identification_number: '41111111'
                        click_to_pay: null
                        managed: true
                        bin_metadata:
                          message: BIN Metadata is available only to Advanced Vault enrolled customers and payment methods. Reach out to your account representative for more details.
                        subscribed_to_mastercard_abu: false
                        payment_method_type: credit_card
                        errors: []
                        fingerprint: null
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-1111
            List events with transactions:
              examples:
                application/json:
                  value:
                    payment_method_events:
                    - token: SxrP4mNRxF0CRQxKIbAQNTnPF0k
                      request_id: 86512117-dc11-4742-ad5a-91d64fb3e395
                      payment_method_key: Cq5kiRP6dXFVRjab
                      event_type: UpdatePaymentMethod
                      event_data:
                        changed_attributes:
                          eligible_for_card_updater: false
                      created_at: '2025-10-09T19:28:04Z'
                      state: succeeded
                      message: messages.transaction_succeeded
                    - token: 4W4TFJ8TJW9AJ92RFXR2JYJGB0
                      request_id: null
                      payment_method_key: Cq5kiRP6dXFVRjab
                      event_type: RedactPaymentMethod
                      event_data: null
                      created_at: '2025-10-09T19:28:04Z'
                      state: succeeded
                      message: null
                    - token: 0B9BK4CYRC9058XQ9TCJRP2NKK
                      created_at: '2025-10-09T19:28:04Z'
                      updated_at: '2025-10-09T19:28:04Z'
                      succeeded: true
                      transaction_type: AddPaymentMethod
                      retained: true
                      state: succeeded
                      message: null
                      payment_method:
                        token: Cq5kiRP6dXFVRjab
                        created_at: null
                        updated_at: null
                        email: test@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata: null
                        callback_url: null
                        last_four_digits: '1111'
                        first_six_digits: '411111'
                        card_type: visa
                        first_name: Gertrud
                        last_name: Gusikowski
                        month: 4
                        year: 2027
                        address1: 116 Main Street
                        address2: null
                        city: Durham
                        state: NC
                        zip: '27705'
                        country: US
                        phone_number: 123-456-7890
                        company: null
                        full_name: Gertrud Gusikowski
                        eligible_for_card_updater: true
                        shipping_address1: 116 Main Street
                        shipping_address2: null
                        shipping_city: Durham
                        shipping_state: NC
                        shipping_zip: '27705'
                        shipping_country: US
                        shipping_phone_number: 123-456-7890
                        issuer_identification_number: '41111111'
                        click_to_pay: null
                        managed: true
                        bin_metadata:
                          message: BIN Metadata is available only to Advanced Vault enrolled customers and payment methods. Reach out to your account representative for more details.
                        subscribed_to_mastercard_abu: false
                        payment_method_type: credit_card
                        errors: []
                        fingerprint: null
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-1111
                    - on_test_gateway: false
                      created_at: '2025-10-09T19:28:04Z'
                      updated_at: '2025-10-09T19:28:04Z'
                      succeeded: false
                      state: created
                      token: 5usFkwA3Sy4lRTAgeIaQfKISwrZ
                      transaction_type: Purchase
                      order_id: null
                      ip: null
                      description: null
                      email: null
                      merchant_name_descriptor: null
                      merchant_location_descriptor: null
                      merchant_profile_key: null
                      gateway_specific_fields: {}
                      gateway_specific_response_fields: {}
                      gateway_transaction_id: null
                      sub_merchant_key: null
                      gateway_latency_ms: null
                      warning: null
                      application_id: null
                      risk_data: null
                      merchant_metadata: null
                      customer_data: null
                      order_data: null
                      workflow_key: null
                      protection_parameters: {}
                      amount: 4420
                      local_amount: null
                      currency_code: USD
                      retain_on_success: false
                      payment_method_added: false
                      smart_routed: false
                      stored_credential_initiator: null
                      stored_credential_reason_type: null
                      stored_credential_alternate_gateway: null
                      stored_credential_final_payment: false
                      message: null
                      gateway_token: 3SVHVZFXW69QDAY7K9PG8GBM2E
                      gateway_type: test
                      shipping_address:
                        name: null
                        address1: null
                        address2: null
                        city: null
                        state: null
                        zip: null
                        country: null
                        phone_number: null
                      api_urls:
                      - referencing_transaction: []
                      - failover_transaction: []
                      attempt_3dsecure: false
                      payment_method:
                        token: Cq5kiRP6dXFVRjab
                        created_at: null
                        updated_at: null
                        email: test@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata: null
                        callback_url: null
                        last_four_digits: '1111'
                        first_six_digits: '411111'
                        card_type: visa
                        first_name: Gertrud
                        last_name: Gusikowski
                        month: 4
                        year: 2027
                        address1: 116 Main Street
                        address2: null
                        city: Durham
                        state: NC
                        zip: '27705'
                        country: US
                        phone_number: 123-456-7890
                        company: null
                        full_name: Gertrud Gusikowski
                        eligible_for_card_updater: true
                        shipping_address1: 116 Main Street
                        shipping_address2: null
                        shipping_city: Durham
                        shipping_state: NC
                        shipping_zip: '27705'
                        shipping_country: US
                        shipping_phone_number: 123-456-7890
                        issuer_identification_number: '41111111'
                        click_to_pay: null
                        managed: true
                        bin_metadata:
                          message: BIN Metadata is available only to Advanced Vault enrolled customers and payment methods. Reach out to your account representative for more details.
                        subscribed_to_mastercard_abu: false
                        payment_method_type: credit_card
                        errors: []
                        fingerprint: null
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-1111
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_events_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_events_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
  /payment_methods/events/{event_token}:
    parameters:
    - name: event_token
      in: path
      description: The token of the payment method event
      required: true
      schema:
        type: string
    get:
      summary: Show payment method event
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: show-payment-method-event
      description: 'Get a specific payment method event by its token.


        Payment method events contain detailed information about changes to payment methods, including the event type, associated payment method, event data, and timing information.


        *Response Format*


        The response format varies by event type:

        - `AddPaymentMethod` events are returned as `transaction` objects with embedded payment method data

        - All other events are returned as `payment_method_event` objects

        '
      responses:
        '200':
          description: successful
          content:
            Payment Method Event:
              examples:
                application/json:
                  value:
                    payment_method_event:
                      token: SxrP4mNRxF0CRQxKIbAQNTnPF0k
                      request_id: 86512117-dc11-4742-ad5a-91d64fb3e395
                      payment_method_key: Cq5kiRP6dXFVRjab
                      event_type: UpdatePaymentMethod
                      event_data:
                        changed_attributes:
                          eligible_for_card_updater: false
                      created_at: '2025-10-09T19:28:04Z'
                      state: succeeded
                      message: messages.transaction_succeeded
            AddPaymentMethod Event:
              examples:
                application/json:
                  value:
                    transaction:
                      token: 0B9BK4CYRC9058XQ9TCJRP2NKK
                      created_at: '2025-10-09T19:28:04Z'
                      updated_at: '2025-10-09T19:28:04Z'
                      succeeded: true
                      transaction_type: AddPaymentMethod
                      retained: true
                      state: succeeded
                      message: null
                      payment_method:
                        token: Cq5kiRP6dXFVRjab
                        created_at: null
                        updated_at: null
                        email: test@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata: null
                        callback_url: null
                        last_four_digits: '1111'
                        first_six_digits: '411111'
                        card_type: visa
                        first_name: Gertrud
                        last_name: Gusikowski
                        month: 4
                        year: 2027
                        address1: 116 Main Street
                        address2: null
                        city: Durham
                        state: NC
                        zip: '27705'
                        country: US
                        phone_number: 123-456-7890
                        company: null
                        full_name: Gertrud Gusikowski
                        eligible_for_card_updater: true
                        shipping_address1: 116 Main Street
                        shipping_address2: null
                        shipping_city: Durham
                        shipping_state: NC
                        shipping_zip: '27705'
                        shipping_country: US
                        shipping_phone_number: 123-456-7890
                        issuer_identification_number: '41111111'
                        click_to_pay: null
                        managed: true
                        bin_metadata:
                          message: BIN Metadata is available only to Advanced Vault enrolled customers and payment methods. Reach out to your account representative for more details.
                        subscribed_to_mastercard_abu: false
                        payment_method_type: credit_card
                        errors: []
                        fingerprint: null
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-1111
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_event_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_event_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
  /payment_methods:
    post:
      summary: Create payment method
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: create-payment-method
      description: 'Add a payment method (credit card, bank account/ACH, Apple Pay, Google Pay, or third party token) to the authenticated environment''s vault.


        To create a test payment method, use one of the [test card numbers](https://developer.spreedly.com/docs/test-data). For more information see the [Spreedly testing guide](https://developer.spreedly.com/docs/testing).


        Third party tokens are payment methods stored in the Spreedly vault, that are a reference to another payment method stored at the gateway''s vault. For more information see the [third party token guide](https://developer.spreedly.com/docs/third-party-vaulting).

        '
      parameters: []
      responses:
        '201':
          description: Created
          content:
            Network Token Provisioned:
              examples:
                application/json:
                  value:
                    transaction:
                      token: AXKchwDYMqAmDqDhxCSaEqiHBk0
                      created_at: '2022-04-14T18:15:18Z'
                      updated_at: '2022-04-14T18:15:18Z'
                      succeeded: true
                      transaction_type: AddPaymentMethod
                      retained: false
                      state: succeeded
                      message_key: messages.transaction_succeeded
                      message: Succeeded!
                      payment_method:
                        token: PTp0nIk2NcqxaTlgsx3Esz2JSAN
                        created_at: '2022-04-14T18:15:18Z'
                        updated_at: '2022-04-14T18:15:18Z'
                        email: joey@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata:
                          key: string value
                          another_key: 123
                          final_key: true
                        callback_url: null
                        last_four_digits: '4444'
                        first_six_digits: '555555'
                        card_type: master
                        first_name: Joe
                        last_name: Jones
                        month: 3
                        year: 2029
                        address1: 33 Lane Road
                        address2: Apartment 4
                        city: Wanaque
                        state: NJ
                        zip: '31331'
                        country: US
                        phone_number: 919.331.3313
                        company: Acme Inc.
                        full_name: Joe Jones
                        eligible_for_card_updater: true
                        shipping_address1: 33 Lane Road
                        shipping_address2: Apartment 4
                        shipping_city: Wanaque
                        shipping_state: NJ
                        shipping_zip: '31331'
                        shipping_country: US
                        shipping_phone_number: 919.331.3313
                        issuer_identification_number: '55555555'
                        payment_method_type: credit_card
                        bin_metadata:
                          card_brand: DISCOVER
                          card_category: PERSONAL
                          card_type: CREDIT
                          issuing_bank: DISCOVER BANK
                          issuing_country_iso_number: '840'
                          issuing_country_iso_a2_code: US
                          issuing_country_iso_a3_code: USA
                          issuing_country_iso_name: UNITED STATES
                          issuing_bank_phone_number: 1 (800) 347-7000
                          issuing_bank_website: HTTPS://WWW.DISCOVER.COM/
                          bin_type: PERSONAL
                          regulated: Y
                          max_pan_length: 19
                          message: Successful
                        errors: []
                        fingerprint: b5fe350d5135ab64a8f3c1097fadefd9effb
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-4444
                      network_tokenization:
                        provisioned: true
                        token_status: active
                        token_reference: DWSP01234567890ABCDEF0123456789AB
                        token_first_six_digits: '411111'
                        token_last_four_digits: '1234'
                        token_created_at: '2024-01-15T10:30:00Z'
                        token_updated_at: '2024-01-15T10:30:00Z'
                application/xml:
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<transaction>\n  <token>AXKchwDYMqAmDqDhxCSaEqiHBk0</token>\n  <created-at>2022-04-14T18:15:18Z</created-at>\n  <updated-at>2022-04-14T18:15:18Z</updated-at>\n  <succeeded type=\"boolean\">true</succeeded>\n  <transaction-type>AddPaymentMethod</transaction-type>\n  <retained type=\"boolean\">false</retained>\n  <state>succeeded</state>\n  <message-key>messages.transaction_succeeded</message-key>\n  <message>Succeeded!</message>\n  <payment-method>\n    <token>PTp0nIk2NcqxaTlgsx3Esz2JSAN</token>\n    <created-at>2022-04-14T18:15:18Z</created-at>\n    <updated-at>2022-04-14T18:15:18Z</updated-at>\n    <email>joey@example.com</email>\n    <data nil=\"true\"/>\n    <storage-state>cached</storage-state>\n    <test type=\"boolean\">true</test>\n    <metadata>\n      <key>string value</key>\n      <another-key type=\"integer\">123</another-key>\n      <final-key type=\"boolean\">true</final-key>\n    </metadata>\n    <callback-url nil=\"true\"/>\n    <last-four-digits>4444</last-four-digits>\n    <first-six-digits>555555</first-six-digits>\n    <card-type>master</card-type>\n    <first-name>Joe</first-name>\n    <last-name>Jones</last-name>\n    <month type=\"integer\">3</month>\n    <year type=\"integer\">2029</year>\n    <address1>33 Lane Road</address1>\n    <address2>Apartment 4</address2>\n    <city>Wanaque</city>\n    <state>NJ</state>\n    <zip>31331</zip>\n    <country>US</country>\n    <phone-number>919.331.3313</phone-number>\n    <company>Acme Inc.</company>\n    <full-name>Joe Jones</full-name>\n    <eligible-for-card-updater type=\"boolean\">true</eligible-for-card-updater>\n    <shipping-address1>33 Lane Road</shipping-address1>\n    <shipping-address2>Apartment 4</shipping-address2>\n    <shipping-city>Wanaque</shipping-city>\n    <shipping-state>NJ</shipping-state>\n    <shipping-zip>31331</shipping-zip>\n    <shipping-country>US</shipping-country>\n    <shipping-phone-number>919.331.3313</shipping-phone-number>\n    <issuer-identification-number>55555555</issuer-identification-number>\n    <payment-method-type>credit_card</payment-method-type>\n    <bin-metadata>\n      <card-brand>DISCOVER</card-brand>\n      <card-category>PERSONAL</card-category>\n      <card-type>CREDIT</card-type>\n      <issuing-bank>DISCOVER BANK</issuing-bank>\n      <issuing-country-iso-number>840</issuing-country-iso-number>\n      <issuing-country-iso-a2-code>US</issuing-country-iso-a2-code>\n      <issuing-country-iso-a3-code>USA</issuing-country-iso-a3-code>\n      <issuing-country-iso-name>UNITED STATES</issuing-country-iso-name>\n      <issuing-bank-phone-number>1 (800) 347-7000</issuing-bank-phone-number>\n      <issuing-bank-website>HTTPS://WWW.DISCOVER.COM/</issuing-bank-website>\n      <bin-type>PERSONAL</bin-type>\n      <regulated>Y</regulated>\n      <max-pan-length type=\"integer\">19</max-pan-length>\n      <message>Successful</message>\n    </bin-metadata>\n    <errors type=\"array\"/>\n    <fingerprint>b5fe350d5135ab64a8f3c1097fadefd9effb</fingerprint>\n    <verification-value>XXX</verification-value>\n    <number>XXXX-XXXX-XXXX-4444</number>\n  </payment-method>\n  <network-tokenization>\n    <provisioned type=\"boolean\">true</provisioned>\n    <token-status>active</token-status>\n    <token-reference>DWSP01234567890ABCDEF0123456789AB</token-reference>\n    <token-first-six-digits>411111</token-first-six-digits>\n    <token-last-four-digits>1234</token-last-four-digits>\n    <token-created-at>2024-01-15T10:30:00Z</token-created-at>\n    <token-updated-at>2024-01-15T10:30:00Z</token-updated-at>\n  </network-tokenization>\n</transaction>\n"
            Network Token Provision Failed:
              examples:
                application/json:
                  value:
                    transaction:
                      token: AXKchwDYMqAmDqDhxCSaEqiHBk0
                      created_at: '2022-04-14T18:15:18Z'
                      updated_at: '2022-04-14T18:15:18Z'
                      succeeded: true
                      transaction_type: AddPaymentMethod
                      retained: false
                      state: succeeded
                      message_key: messages.transaction_succeeded
                      message: Succeeded!
                      payment_method:
                        token: PTp0nIk2NcqxaTlgsx3Esz2JSAN
                        created_at: '2022-04-14T18:15:18Z'
                        updated_at: '2022-04-14T18:15:18Z'
                        email: joey@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata:
                          key: string value
                          another_key: 123
                          final_key: true
                        callback_url: null
                        last_four_digits: '4444'
                        first_six_digits: '555555'
                        card_type: master
                        first_name: Joe
                        last_name: Jones
                        month: 3
                        year: 2029
                        address1: 33 Lane Road
                        address2: Apartment 4
                        city: Wanaque
                        state: NJ
                        zip: '31331'
                        country: US
                        phone_number: 919.331.3313
                        company: Acme Inc.
                        full_name: Joe Jones
                        eligible_for_card_updater: true
                        shipping_address1: 33 Lane Road
                        shipping_address2: Apartment 4
                        shipping_city: Wanaque
                        shipping_state: NJ
                        shipping_zip: '31331'
                        shipping_country: US
                        shipping_phone_number: 919.331.3313
                        issuer_identification_number: '55555555'
                        payment_method_type: credit_card
                        bin_metadata:
                          card_brand: DISCOVER
                          card_category: PERSONAL
                          card_type: CREDIT
                          issuing_bank: DISCOVER BANK
                          issuing_country_iso_number: '840'
                          issuing_country_iso_a2_code: US
                          issuing_country_iso_a3_code: USA
                          issuing_country_iso_name: UNITED STATES
                          issuing_bank_phone_number: 1 (800) 347-7000
                          issuing_bank_website: HTTPS://WWW.DISCOVER.COM/
                          bin_type: PERSONAL
                          regulated: Y
                          max_pan_length: 19
                          message: Successful
                        errors: []
                        fingerprint: b5fe350d5135ab64a8f3c1097fadefd9effb
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-4444
                      network_tokenization:
                        provisioned: false
                        token_status: null
                        errors:
                        - key: invalidParameter
                          message: Your request does not have valid set of parameters required to process the business function.
                          action: provision_network_token
                application/xml:
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<transaction>\n  <token>AXKchwDYMqAmDqDhxCSaEqiHBk0</token>\n  <created-at>2022-04-14T18:15:18Z</created-at>\n  <updated-at>2022-04-14T18:15:18Z</updated-at>\n  <succeeded type=\"boolean\">true</succeeded>\n  <transaction-type>AddPaymentMethod</transaction-type>\n  <retained type=\"boolean\">false</retained>\n  <state>succeeded</state>\n  <message-key>messages.transaction_succeeded</message-key>\n  <message>Succeeded!</message>\n  <payment-method>\n    <token>PTp0nIk2NcqxaTlgsx3Esz2JSAN</token>\n    <created-at>2022-04-14T18:15:18Z</created-at>\n    <updated-at>2022-04-14T18:15:18Z</updated-at>\n    <email>joey@example.com</email>\n    <data nil=\"true\"/>\n    <storage-state>cached</storage-state>\n    <test type=\"boolean\">true</test>\n    <metadata>\n      <key>string value</key>\n      <another-key type=\"integer\">123</another-key>\n      <final-key type=\"boolean\">true</final-key>\n    </metadata>\n    <callback-url nil=\"true\"/>\n    <last-four-digits>4444</last-four-digits>\n    <first-six-digits>555555</first-six-digits>\n    <card-type>master</card-type>\n    <first-name>Joe</first-name>\n    <last-name>Jones</last-name>\n    <month type=\"integer\">3</month>\n    <year type=\"integer\">2029</year>\n    <address1>33 Lane Road</address1>\n    <address2>Apartment 4</address2>\n    <city>Wanaque</city>\n    <state>NJ</state>\n    <zip>31331</zip>\n    <country>US</country>\n    <phone-number>919.331.3313</phone-number>\n    <company>Acme Inc.</company>\n    <full-name>Joe Jones</full-name>\n    <eligible-for-card-updater type=\"boolean\">true</eligible-for-card-updater>\n    <shipping-address1>33 Lane Road</shipping-address1>\n    <shipping-address2>Apartment 4</shipping-address2>\n    <shipping-city>Wanaque</shipping-city>\n    <shipping-state>NJ</shipping-state>\n    <shipping-zip>31331</shipping-zip>\n    <shipping-country>US</shipping-country>\n    <shipping-phone-number>919.331.3313</shipping-phone-number>\n    <issuer-identification-number>55555555</issuer-identification-number>\n    <payment-method-type>credit_card</payment-method-type>\n    <bin-metadata>\n      <card-brand>DISCOVER</card-brand>\n      <card-category>PERSONAL</card-category>\n      <card-type>CREDIT</card-type>\n      <issuing-bank>DISCOVER BANK</issuing-bank>\n      <issuing-country-iso-number>840</issuing-country-iso-number>\n      <issuing-country-iso-a2-code>US</issuing-country-iso-a2-code>\n      <issuing-country-iso-a3-code>USA</issuing-country-iso-a3-code>\n      <issuing-country-iso-name>UNITED STATES</issuing-country-iso-name>\n      <issuing-bank-phone-number>1 (800) 347-7000</issuing-bank-phone-number>\n      <issuing-bank-website>HTTPS://WWW.DISCOVER.COM/</issuing-bank-website>\n      <bin-type>PERSONAL</bin-type>\n      <regulated>Y</regulated>\n      <max-pan-length type=\"integer\">19</max-pan-length>\n      <message>Successful</message>\n    </bin-metadata>\n    <errors type=\"array\"/>\n    <fingerprint>b5fe350d5135ab64a8f3c1097fadefd9effb</fingerprint>\n    <verification-value>XXX</verification-value>\n    <number>XXXX-XXXX-XXXX-4444</number>\n  </payment-method>\n  <network-tokenization>\n    <provisioned type=\"boolean\">false</provisioned>\n    <token-status nil=\"true\"/>\n    <errors type=\"array\">\n      <error>\n        <key>invalidParameter</key>\n        <message>Your request does not have valid set of parameters required to process the business function.</message>\n        <action>provision_network_token</action>\n      </error>\n    </errors>\n  </network-tokenization>\n</transaction>\n"
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_create_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_create_response'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method_request'
            examples:
              Credit card:
                summary: Credit card
                value:
                  payment_method:
                    credit_card:
                      first_name: Joe
                      last_name: Jones
                      number: '5555555555554444'
                      verification_value: '423'
                      month: '3'
                      year: '2029'
                      company: Acme Inc.
                      address1: 33 Lane Road
                      address2: Apartment 4
                      city: Wanaque
                      state: NJ
                      zip: '31331'
                      country: US
                      phone_number: 919.331.3313
                      shipping_address1: 33 Lane Road
                      shipping_address2: Apartment 4
                      shipping_city: Wanaque
                      shipping_state: NJ
                      shipping_zip: '31331'
                      shipping_country: US
                      shipping_phone_number: 919.331.3313
                    email: joey@example.com
                    metadata:
                      key: string value
                      another_key: 123
                      final_key: true
              Bank account/ACH:
                summary: Bank account/ACH
                value:
                  payment_method:
                    bank_account:
                      first_name: Jon
                      last_name: Doe
                      bank_name: Test Bank
                      bank_routing_number: '021000021'
                      bank_account_number: '9876543210'
                      bank_account_type: checking
                      bank_account_holder_type: personal
                    email: jon.doe@example.com
                    data:
                      my_payment_method_identifier: 448
                      extra_stuff:
                        some_other_things: Can be anything really
                    metadata:
                      key: string value
                      another_key: 123
                      final_key: true
              Apple Pay:
                summary: Apple Pay
                value:
                  payment_method:
                    apple_pay:
                      payment_data:
                        version: ''
                        data: ''
                        signature: ''
                        header:
                          ephemeralPublicKey: ''
                          transactionId: ''
                          publicKeyHash: ''
                      test_card_number: '4111111111111111'
                    first_name: John
                    last_name: Smith
                    email: john.smith@example.com
                    metadata:
                      key: string value
                      another_key: 123
                      final_key: true
                    address1: 12345 Example Way
                    city: Atlanta
                    state: GA
                    zip: '30301'
                    country: USA
                    shipping_address1: 12345 Example Way
                    shipping_city: Atlanta
                    shipping_state: GA
                    shipping_zip: '30301'
                    shipping_country: USA
              Google Pay:
                summary: Google Pay
                value:
                  payment_method:
                    google_pay:
                      payment_data:
                        signature: ''
                        protocolVersion: ''
                        signedMessage: '{}'
                      first_name: John
                      last_name: Smith
                      test_card_number: '4111111111111111'
                    email: john.smith@example.com
              Third Party Token:
                summary: Third Party Token
                value:
                  payment_method:
                    payment_method_type: third_party_token
                    reference: ''
                    gateway_type: litle
              Provision Network Token:
                summary: Attempt to Provision Network Token
                value:
                  payment_method:
                    credit_card:
                      first_name: Joe
                      last_name: Jones
                      number: '5555555555554444'
                      verification_value: '423'
                      month: '3'
                      year: '2029'
                      company: Acme Inc.
                      address1: 33 Lane Road
                      address2: Apartment 4
                      city: Wanaque
                      state: NJ
                      zip: '31331'
                      country: US
                      phone_number: 919.331.3313
                      shipping_address1: 33 Lane Road
                      shipping_address2: Apartment 4
                      shipping_city: Wanaque
                      shipping_state: NJ
                      shipping_zip: '31331'
                      shipping_country: US
                      shipping_phone_number: 919.331.3313
                    email: joey@example.com
                    metadata:
                      key: string value
                      another_key: 123
                      final_key: true
                    provision_network_token: true
          application/xml:
            schema:
              $ref: '#/components/schemas/payment_method_request'
            examples:
              Credit card:
                summary: Credit card
                value:
                  payment_method:
                    credit_card:
                      first_name: Joe
                      last_name: Jones
                      number: '5555555555554444'
                      verification_value: '423'
                      month: '3'
                      year: '2029'
                      company: Acme Inc.
                      address1: 33 Lane Road
                      address2: Apartment 4
                      city: Wanaque
                      state: NJ
                      zip: '31331'
                      country: US
                      phone_number: 919.331.3313
                      shipping_address1: 33 Lane Road
                      shipping_address2: Apartment 4
                      shipping_city: Wanaque
                      shipping_state: NJ
                      shipping_zip: '31331'
                      shipping_country: US
                      shipping_phone_number: 919.331.3313
                    email: joey@example.com
                    metadata:
                      key: string value
                      another_key: 123
                      final_key: true
              Bank account/ACH:
                summary: Bank account/ACH
                value:
                  payment_method:
                    bank_account:
                      first_name: Jon
                      last_name: Doe
                      bank_name: Test Bank
                      bank_routing_number: '021000021'
                      bank_account_number: '9876543210'
                      bank_account_type: checking
                      bank_account_holder_type: personal
                    email: jon.doe@example.com
                    data:
                      my_payment_method_identifier: 448
                      extra_stuff:
                        some_other_things: Can be anything really
                    metadata:
                      key: string value
                      another_key: 123
                      final_key: true
              Apple Pay:
                summary: Apple Pay
                value:
                  payment_method:
                    apple_pay:
                      payment_data:
                        version: ''
                        data: ''
                        signature: ''
                        header:
                          ephemeralPublicKey: ''
                          transactionId: ''
                          publicKeyHash: ''
                      test_card_number: '4111111111111111'
                    first_name: John
                    last_name: Smith
                    email: john.smith@example.com
                    metadata:
                      key: string value
                      another_key: 123
                      final_key: true
                    address1: 12345 Example Way
                    city: Atlanta
                    state: GA
                    zip: '30301'
                    country: USA
                    shipping_address1: 12345 Example Way
                    shipping_city: Atlanta
                    shipping_state: GA
                    shipping_zip: '30301'
                    shipping_country: USA
              Google Pay:
                summary: Google Pay
                value:
                  payment_method:
                    google_pay:
                      payment_data:
                        signature: ''
                        protocolVersion: ''
                        signedMessage: '{}'
                      first_name: John
                      last_name: Smith
                      test_card_number: '4111111111111111'
                    email: john.smith@example.com
              Third Party Token:
                summary: Third Party Token
                value:
                  payment_method:
                    payment_method_type: third_party_token
                    reference: ''
                    gateway_type: litle
              Provision Network Token:
                summary: Attempt to Provision Network Token
                value:
                  payment_method:
                    credit_card:
                      first_name: Joe
                      last_name: Jones
                      number: '5555555555554444'
                      verification_value: '423'
                      month: '3'
                      year: '2029'
                      company: Acme Inc.
                      address1: 33 Lane Road
                      address2: Apartment 4
                      city: Wanaque
                      state: NJ
                      zip: '31331'
                      country: US
                      phone_number: 919.331.3313
                      shipping_address1: 33 Lane Road
                      shipping_address2: Apartment 4
                      shipping_city: Wanaque
                      shipping_state: NJ
                      shipping_zip: '31331'
                      shipping_country: US
                      shipping_phone_number: 919.331.3313
                    email: joey@example.com
                    metadata:
                      key: string value
                      another_key: 123
                      final_key: true
                    provision_network_token: true
    get:
      summary: List payment methods
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: list-payment-method
      description: 'Retrieve an ordered and paginated list of all retained payment methods in the authenticated environment.


        *States*

        Payment methods can exist in several states in the Spreedly vault - retained, redacted, cached, or used. Retained payment methods are stored in Spreedly''s vault until redacted. Redacted payment methods are payment methods that were either not retained or have been manually redacted. Cached payment methods are payment methods that have not been retained but have not yet been automatically redacted yet. Cached payment methods can still be retained. For more information, please see our guide on [retaining payment methods](https://developer.spreedly.com/docs/create-transactions#retain).


        If no state parameter or an invalid state parameter is passed, list will only return retained payment methods. If the state parameter is passed, list will return those parameters: retained, redacted, cached, used.


        Example: `https://core.spreedly.com/v1/payment_methods.json?state=retained,redacted,cached,used`


        If the state parameter is combined with other existing parameters such as metadata, both will be considered.


        Example: `https://core.spreedly.com/v1/payment_methods.json?metadata[customer_id]=123abc&state=redacted,retained`

        '
      parameters:
      - name: order
        in: query
        description: The order of the returned list. Default is `asc`, which returns the oldest records first. To list newer records first, use `desc`.
        schema:
          type: string
      - name: since_token
        in: query
        description: The token of the item to start from (e.g., the last token received in the previous list if iterating through records)
        schema:
          type: string
      - name: metadata
        in: query
        description: A metadata key/value pair represented as a hash (e.g. metadata[key]=value).
        schema:
          type: string
      - name: state
        in: query
        description: The list of storage_states to return. By default returns retained, acceptable values are retained, redacted, cached, used
        schema:
          type: string
      - name: count
        in: query
        description: The number of payment methods to return. By default returns 20, maximum allowed is 100.
        schema:
          type: string
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_methods_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_methods_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
  /payment_methods/{payment_method_token}:
    parameters:
    - name: payment_method_token
      in: path
      description: The token of the payment method
      required: true
      schema:
        type: string
    get:
      summary: Show payment method
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: show-payment-method
      description: Get a payment method with the given token.
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_show_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_show_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
    put:
      summary: Update payment method
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: update-payment-method
      description: Update a payment method's non-sensitive attributes.
      parameters: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method_update'
            examples:
              Update name and metadata:
                summary: Update name and metadata
                value: '{"payment_method":{"first_name":"New First","last_name":"New Last","metadata":{"key":"value"}}}'
          application/xml:
            schema:
              $ref: '#/components/schemas/payment_method_update'
            examples:
              Update name and metadata:
                summary: Update name and metadata
                value: '{"payment_method":{"first_name":"New First","last_name":"New Last","metadata":{"key":"value"}}}'
  /payment_methods/{payment_method_token}/retain:
    parameters:
    - name: payment_method_token
      in: path
      description: The token of the payment method
      required: true
      schema:
        type: string
    put:
      summary: Retain payment method
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: retain-payment-method
      description: Retain (keep in the Spreedly vault for future use) a payment method.
      parameters: []
      responses:
        '200':
          description: successful
          content:
            Network Token Provisioned:
              examples:
                application/json:
                  value:
                    transaction:
                      token: AXKchwDYMqAmDqDhxCSaEqiHBk0
                      created_at: '2022-04-14T18:15:18Z'
                      updated_at: '2022-04-14T18:15:18Z'
                      succeeded: true
                      transaction_type: AddPaymentMethod
                      retained: false
                      state: succeeded
                      message_key: messages.transaction_succeeded
                      message: Succeeded!
                      payment_method:
                        token: PTp0nIk2NcqxaTlgsx3Esz2JSAN
                        created_at: '2022-04-14T18:15:18Z'
                        updated_at: '2022-04-14T18:15:18Z'
                        email: joey@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata:
                          key: string value
                          another_key: 123
                          final_key: true
                        callback_url: null
                        last_four_digits: '4444'
                        first_six_digits: '555555'
                        card_type: master
                        first_name: Joe
                        last_name: Jones
                        month: 3
                        year: 2029
                        address1: 33 Lane Road
                        address2: Apartment 4
                        city: Wanaque
                        state: NJ
                        zip: '31331'
                        country: US
                        phone_number: 919.331.3313
                        company: Acme Inc.
                        full_name: Joe Jones
                        eligible_for_card_updater: true
                        shipping_address1: 33 Lane Road
                        shipping_address2: Apartment 4
                        shipping_city: Wanaque
                        shipping_state: NJ
                        shipping_zip: '31331'
                        shipping_country: US
                        shipping_phone_number: 919.331.3313
                        issuer_identification_number: '55555555'
                        payment_method_type: credit_card
                        bin_metadata:
                          card_brand: DISCOVER
                          card_category: PERSONAL
                          card_type: CREDIT
                          issuing_bank: DISCOVER BANK
                          issuing_country_iso_number: '840'
                          issuing_country_iso_a2_code: US
                          issuing_country_iso_a3_code: USA
                          issuing_country_iso_name: UNITED STATES
                          issuing_bank_phone_number: 1 (800) 347-7000
                          issuing_bank_website: HTTPS://WWW.DISCOVER.COM/
                          bin_type: PERSONAL
                          regulated: Y
                          max_pan_length: 19
                          message: Successful
                        errors: []
                        fingerprint: b5fe350d5135ab64a8f3c1097fadefd9effb
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-4444
                      network_tokenization:
                        provisioned: true
                        token_status: active
                        token_reference: DWSP01234567890ABCDEF0123456789AB
                        token_first_six_digits: '411111'
                        token_last_four_digits: '1234'
                        token_created_at: '2024-01-15T10:30:00Z'
                        token_updated_at: '2024-01-15T10:30:00Z'
                application/xml:
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<transaction>\n  <token>AXKchwDYMqAmDqDhxCSaEqiHBk0</token>\n  <created-at>2022-04-14T18:15:18Z</created-at>\n  <updated-at>2022-04-14T18:15:18Z</updated-at>\n  <succeeded type=\"boolean\">true</succeeded>\n  <transaction-type>AddPaymentMethod</transaction-type>\n  <retained type=\"boolean\">false</retained>\n  <state>succeeded</state>\n  <message-key>messages.transaction_succeeded</message-key>\n  <message>Succeeded!</message>\n  <payment-method>\n    <token>PTp0nIk2NcqxaTlgsx3Esz2JSAN</token>\n    <created-at>2022-04-14T18:15:18Z</created-at>\n    <updated-at>2022-04-14T18:15:18Z</updated-at>\n    <email>joey@example.com</email>\n    <data nil=\"true\"/>\n    <storage-state>cached</storage-state>\n    <test type=\"boolean\">true</test>\n    <metadata>\n      <key>string value</key>\n      <another-key type=\"integer\">123</another-key>\n      <final-key type=\"boolean\">true</final-key>\n    </metadata>\n    <callback-url nil=\"true\"/>\n    <last-four-digits>4444</last-four-digits>\n    <first-six-digits>555555</first-six-digits>\n    <card-type>master</card-type>\n    <first-name>Joe</first-name>\n    <last-name>Jones</last-name>\n    <month type=\"integer\">3</month>\n    <year type=\"integer\">2029</year>\n    <address1>33 Lane Road</address1>\n    <address2>Apartment 4</address2>\n    <city>Wanaque</city>\n    <state>NJ</state>\n    <zip>31331</zip>\n    <country>US</country>\n    <phone-number>919.331.3313</phone-number>\n    <company>Acme Inc.</company>\n    <full-name>Joe Jones</full-name>\n    <eligible-for-card-updater type=\"boolean\">true</eligible-for-card-updater>\n    <shipping-address1>33 Lane Road</shipping-address1>\n    <shipping-address2>Apartment 4</shipping-address2>\n    <shipping-city>Wanaque</shipping-city>\n    <shipping-state>NJ</shipping-state>\n    <shipping-zip>31331</shipping-zip>\n    <shipping-country>US</shipping-country>\n    <shipping-phone-number>919.331.3313</shipping-phone-number>\n    <issuer-identification-number>55555555</issuer-identification-number>\n    <payment-method-type>credit_card</payment-method-type>\n    <bin-metadata>\n      <card-brand>DISCOVER</card-brand>\n      <card-category>PERSONAL</card-category>\n      <card-type>CREDIT</card-type>\n      <issuing-bank>DISCOVER BANK</issuing-bank>\n      <issuing-country-iso-number>840</issuing-country-iso-number>\n      <issuing-country-iso-a2-code>US</issuing-country-iso-a2-code>\n      <issuing-country-iso-a3-code>USA</issuing-country-iso-a3-code>\n      <issuing-country-iso-name>UNITED STATES</issuing-country-iso-name>\n      <issuing-bank-phone-number>1 (800) 347-7000</issuing-bank-phone-number>\n      <issuing-bank-website>HTTPS://WWW.DISCOVER.COM/</issuing-bank-website>\n      <bin-type>PERSONAL</bin-type>\n      <regulated>Y</regulated>\n      <max-pan-length type=\"integer\">19</max-pan-length>\n      <message>Successful</message>\n    </bin-metadata>\n    <errors type=\"array\"/>\n    <fingerprint>b5fe350d5135ab64a8f3c1097fadefd9effb</fingerprint>\n    <verification-value>XXX</verification-value>\n    <number>XXXX-XXXX-XXXX-4444</number>\n  </payment-method>\n  <network-tokenization>\n    <provisioned type=\"boolean\">true</provisioned>\n    <token-status>active</token-status>\n    <token-reference>DWSP01234567890ABCDEF0123456789AB</token-reference>\n    <token-first-six-digits>411111</token-first-six-digits>\n    <token-last-four-digits>1234</token-last-four-digits>\n    <token-created-at>2024-01-15T10:30:00Z</token-created-at>\n    <token-updated-at>2024-01-15T10:30:00Z</token-updated-at>\n  </network-tokenization>\n</transaction>\n"
            Network Token Provision Failed:
              examples:
                application/json:
                  value:
                    transaction:
                      token: AXKchwDYMqAmDqDhxCSaEqiHBk0
                      created_at: '2022-04-14T18:15:18Z'
                      updated_at: '2022-04-14T18:15:18Z'
                      succeeded: true
                      transaction_type: AddPaymentMethod
                      retained: false
                      state: succeeded
                      message_key: messages.transaction_succeeded
                      message: Succeeded!
                      payment_method:
                        token: PTp0nIk2NcqxaTlgsx3Esz2JSAN
                        created_at: '2022-04-14T18:15:18Z'
                        updated_at: '2022-04-14T18:15:18Z'
                        email: joey@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata:
                          key: string value
                          another_key: 123
                          final_key: true
                        callback_url: null
                        last_four_digits: '4444'
                        first_six_digits: '555555'
                        card_type: master
                        first_name: Joe
                        last_name: Jones
                        month: 3
                        year: 2029
                        address1: 33 Lane Road
                        address2: Apartment 4
                        city: Wanaque
                        state: NJ
                        zip: '31331'
                        country: US
                        phone_number: 919.331.3313
                        company: Acme Inc.
                        full_name: Joe Jones
                        eligible_for_card_updater: true
                        shipping_address1: 33 Lane Road
                        shipping_address2: Apartment 4
                        shipping_city: Wanaque
                        shipping_state: NJ
                        shipping_zip: '31331'
                        shipping_country: US
                        shipping_phone_number: 919.331.3313
                        issuer_identification_number: '55555555'
                        payment_method_type: credit_card
                        bin_metadata:
                          card_brand: DISCOVER
                          card_category: PERSONAL
                          card_type: CREDIT
                          issuing_bank: DISCOVER BANK
                          issuing_country_iso_number: '840'
                          issuing_country_iso_a2_code: US
                          issuing_country_iso_a3_code: USA
                          issuing_country_iso_name: UNITED STATES
                          issuing_bank_phone_number: 1 (800) 347-7000
                          issuing_bank_website: HTTPS://WWW.DISCOVER.COM/
                          bin_type: PERSONAL
                          regulated: Y
                          max_pan_length: 19
                          message: Successful
                        errors: []
                        fingerprint: b5fe350d5135ab64a8f3c1097fadefd9effb
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-4444
                      network_tokenization:
                        provisioned: false
                        token_status: null
                        errors:
                        - key: invalidParameter
                          message: Your request does not have valid set of parameters required to process the business function.
                          action: provision_network_token
                application/xml:
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<transaction>\n  <token>AXKchwDYMqAmDqDhxCSaEqiHBk0</token>\n  <created-at>2022-04-14T18:15:18Z</created-at>\n  <updated-at>2022-04-14T18:15:18Z</updated-at>\n  <succeeded type=\"boolean\">true</succeeded>\n  <transaction-type>AddPaymentMethod</transaction-type>\n  <retained type=\"boolean\">false</retained>\n  <state>succeeded</state>\n  <message-key>messages.transaction_succeeded</message-key>\n  <message>Succeeded!</message>\n  <payment-method>\n    <token>PTp0nIk2NcqxaTlgsx3Esz2JSAN</token>\n    <created-at>2022-04-14T18:15:18Z</created-at>\n    <updated-at>2022-04-14T18:15:18Z</updated-at>\n    <email>joey@example.com</email>\n    <data nil=\"true\"/>\n    <storage-state>cached</storage-state>\n    <test type=\"boolean\">true</test>\n    <metadata>\n      <key>string value</key>\n      <another-key type=\"integer\">123</another-key>\n      <final-key type=\"boolean\">true</final-key>\n    </metadata>\n    <callback-url nil=\"true\"/>\n    <last-four-digits>4444</last-four-digits>\n    <first-six-digits>555555</first-six-digits>\n    <card-type>master</card-type>\n    <first-name>Joe</first-name>\n    <last-name>Jones</last-name>\n    <month type=\"integer\">3</month>\n    <year type=\"integer\">2029</year>\n    <address1>33 Lane Road</address1>\n    <address2>Apartment 4</address2>\n    <city>Wanaque</city>\n    <state>NJ</state>\n    <zip>31331</zip>\n    <country>US</country>\n    <phone-number>919.331.3313</phone-number>\n    <company>Acme Inc.</company>\n    <full-name>Joe Jones</full-name>\n    <eligible-for-card-updater type=\"boolean\">true</eligible-for-card-updater>\n    <shipping-address1>33 Lane Road</shipping-address1>\n    <shipping-address2>Apartment 4</shipping-address2>\n    <shipping-city>Wanaque</shipping-city>\n    <shipping-state>NJ</shipping-state>\n    <shipping-zip>31331</shipping-zip>\n    <shipping-country>US</shipping-country>\n    <shipping-phone-number>919.331.3313</shipping-phone-number>\n    <issuer-identification-number>55555555</issuer-identification-number>\n    <payment-method-type>credit_card</payment-method-type>\n    <bin-metadata>\n      <card-brand>DISCOVER</card-brand>\n      <card-category>PERSONAL</card-category>\n      <card-type>CREDIT</card-type>\n      <issuing-bank>DISCOVER BANK</issuing-bank>\n      <issuing-country-iso-number>840</issuing-country-iso-number>\n      <issuing-country-iso-a2-code>US</issuing-country-iso-a2-code>\n      <issuing-country-iso-a3-code>USA</issuing-country-iso-a3-code>\n      <issuing-country-iso-name>UNITED STATES</issuing-country-iso-name>\n      <issuing-bank-phone-number>1 (800) 347-7000</issuing-bank-phone-number>\n      <issuing-bank-website>HTTPS://WWW.DISCOVER.COM/</issuing-bank-website>\n      <bin-type>PERSONAL</bin-type>\n      <regulated>Y</regulated>\n      <max-pan-length type=\"integer\">19</max-pan-length>\n      <message>Successful</message>\n    </bin-metadata>\n    <errors type=\"array\"/>\n    <fingerprint>b5fe350d5135ab64a8f3c1097fadefd9effb</fingerprint>\n    <verification-value>XXX</verification-value>\n    <number>XXXX-XXXX-XXXX-4444</number>\n  </payment-method>\n  <network-tokenization>\n    <provisioned type=\"boolean\">false</provisioned>\n    <token-status nil=\"true\"/>\n    <errors type=\"array\">\n      <error>\n        <key>invalidParameter</key>\n        <message>Your request does not have valid set of parameters required to process the business function.</message>\n        <action>provision_network_token</action>\n      </error>\n    </errors>\n  </network-tokenization>\n</transaction>\n"
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_retain_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_retain_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/provision_network_token'
            examples:
              Provision Network Token:
                summary: Attempt to Provision Network Token
                value: '{"provision_network_token":true}'
          application/xml:
            schema:
              $ref: '#/components/schemas/provision_network_token'
            examples:
              Provision Network Token:
                summary: Attempt to Provision Network Token
                value: '{"provision_network_token":true}'
  /payment_methods/{payment_method_token}/redact:
    parameters:
    - name: payment_method_token
      in: path
      description: The token of the payment method
      required: true
      schema:
        type: string
    put:
      summary: Redact payment method
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: redact-payment-method
      description: Redact (strip of any sensitive credentials and make inactive) a payment method.
      parameters: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_redact_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_redact_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method_redact'
          application/xml:
            schema:
              $ref: '#/components/schemas/payment_method_redact'
  /payment_methods/{payment_method_token}/update_gratis:
    parameters:
    - name: payment_method_token
      in: path
      description: The token of the payment method
      required: true
      schema:
        type: string
    put:
      summary: Update gratis payment method
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: update-gratis-payment-method
      description: 'Update a payment method''s management state and some specific payment method parameters associated with Advanced Vault.

        For further details, see [Advanced Vault](https://developer.spreedly.com/docs/advanced-vault).


        Please note, that this API call is only available to merchants who are currently enrolled in Advanced Vault.

        '
      parameters: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method_update_gratis'
            examples:
              Update managed status:
                summary: Update managed status
                value: '{"payment_method":{"managed":true}}'
          application/xml:
            schema:
              $ref: '#/components/schemas/payment_method_update_gratis'
            examples:
              Update managed status:
                summary: Update managed status
                value: '{"payment_method":{"managed":true}}'
  /payment_methods/{payment_method_token}/transactions:
    parameters:
    - name: payment_method_token
      in: path
      description: The token of the payment method
      required: true
      schema:
        type: string
    get:
      summary: List transactions payment method
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: list-transactions-payment-method
      description: Get an ordered and paginated list of transactions executed against a specific payment method.
      parameters:
      - name: order
        in: query
        description: The order of the returned list. Default is `asc`, which returns the oldest records first. To list newer records first, use `desc`.
        schema:
          type: string
      - name: since_token
        in: query
        description: The token of the item to start from (e.g., the last token received in the previous list if iterating through records)
        schema:
          type: string
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transactions_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/transactions_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
  /payment_methods/{payment_method_token}/metadata:
    parameters:
    - name: payment_method_token
      in: path
      description: The token of the payment method
      required: true
      schema:
        type: string
    delete:
      summary: Delete metadata payment method
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: delete-metadata-payment-method
      description: Remove key value pairs from a payment method's metadata.
      parameters: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/delete_metadata'
            examples:
              Delete metadata:
                summary: Delete metadata
                value: '{"keys":["another_key","final_key"]}'
          application/xml:
            schema:
              $ref: '#/components/schemas/delete_metadata'
            examples:
              Delete metadata:
                summary: Delete metadata
                value: '{"keys":["another_key","final_key"]}'
  /payment_methods/{payment_method_token}/recache:
    parameters:
    - name: payment_method_token
      in: path
      description: The token of the payment method
      required: true
      schema:
        type: string
    post:
      summary: Recache payment method
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: recache-payment-method
      description: 'Update a credit card''s verification value (CVV) so the card can be transacted against.


        Note: A credit card must be retained in your environment in order to re-cache its CVV.

        '
      parameters: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/recache'
            examples:
              Recache CVV:
                summary: Recache CVV
                value: '{"payment_method":{"credit_card":{"verification_value":"123"}}}'
          application/xml:
            schema:
              $ref: '#/components/schemas/recache'
            examples:
              Recache CVV:
                summary: Recache CVV
                value: '{"payment_method":{"credit_card":{"verification_value":"123"}}}'
  /payment_methods/{payment_method_token}/events:
    parameters:
    - name: payment_method_token
      in: path
      description: The token of the payment method
      required: true
      schema:
        type: string
    get:
      summary: List events for a payment method
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: list-events-payment-method
      description: 'Get a list of events for a specific payment method.


        *Response Format*


        The response format varies by event type:

        - `AddPaymentMethod` events are returned as `transaction` objects with embedded payment method data

        - All other events are returned as `payment_method_event` objects

        '
      parameters:
      - name: order
        in: query
        description: The order of the returned list. Default is `asc`, which returns the oldest records first. To list newer records first, use `desc`.
        schema:
          type: string
      - name: since_token
        in: query
        description: The token of the item to start from (e.g., the last token received in the previous list if iterating through records)
        schema:
          type: string
      - name: count
        in: query
        description: The number of events to return. By default returns 20, maximum allowed is 100.
        schema:
          type: string
      - name: include_transactions
        in: query
        description: Whether to include gateway transactions alongside events. Default is `false`. When `true`, returns a unified timeline of events and transactions sorted by creation time.
        schema:
          type: boolean
      responses:
        '200':
          description: successful
          content:
            List events:
              examples:
                application/json:
                  value:
                    payment_method_events:
                    - token: SxrP4mNRxF0CRQxKIbAQNTnPF0k
                      request_id: 86512117-dc11-4742-ad5a-91d64fb3e395
                      payment_method_key: Cq5kiRP6dXFVRjab
                      event_type: UpdatePaymentMethod
                      event_data:
                        changed_attributes:
                          eligible_for_card_updater: false
                      created_at: '2025-10-09T19:28:04Z'
                      state: succeeded
                      message: messages.transaction_succeeded
                    - token: 4W4TFJ8TJW9AJ92RFXR2JYJGB0
                      request_id: null
                      payment_method_key: Cq5kiRP6dXFVRjab
                      event_type: RedactPaymentMethod
                      event_data: null
                      created_at: '2025-10-09T19:28:04Z'
                      state: succeeded
                      message: null
                    - token: 0B9BK4CYRC9058XQ9TCJRP2NKK
                      created_at: '2025-10-09T19:28:04Z'
                      updated_at: '2025-10-09T19:28:04Z'
                      succeeded: true
                      transaction_type: AddPaymentMethod
                      retained: true
                      state: succeeded
                      message: null
                      payment_method:
                        token: Cq5kiRP6dXFVRjab
                        created_at: null
                        updated_at: null
                        email: test@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata: null
                        callback_url: null
                        last_four_digits: '1111'
                        first_six_digits: '411111'
                        card_type: visa
                        first_name: Gertrud
                        last_name: Gusikowski
                        month: 4
                        year: 2027
                        address1: 116 Main Street
                        address2: null
                        city: Durham
                        state: NC
                        zip: '27705'
                        country: US
                        phone_number: 123-456-7890
                        company: null
                        full_name: Gertrud Gusikowski
                        eligible_for_card_updater: true
                        shipping_address1: 116 Main Street
                        shipping_address2: null
                        shipping_city: Durham
                        shipping_state: NC
                        shipping_zip: '27705'
                        shipping_country: US
                        shipping_phone_number: 123-456-7890
                        issuer_identification_number: '41111111'
                        click_to_pay: null
                        managed: true
                        bin_metadata:
                          message: BIN Metadata is available only to Advanced Vault enrolled customers and payment methods. Reach out to your account representative for more details.
                        subscribed_to_mastercard_abu: false
                        payment_method_type: credit_card
                        errors: []
                        fingerprint: null
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-1111
            List events with transactions:
              examples:
                application/json:
                  value:
                    payment_method_events:
                    - token: SxrP4mNRxF0CRQxKIbAQNTnPF0k
                      request_id: 86512117-dc11-4742-ad5a-91d64fb3e395
                      payment_method_key: Cq5kiRP6dXFVRjab
                      event_type: UpdatePaymentMethod
                      event_data:
                        changed_attributes:
                          eligible_for_card_updater: false
                      created_at: '2025-10-09T19:28:04Z'
                      state: succeeded
                      message: messages.transaction_succeeded
                    - token: 4W4TFJ8TJW9AJ92RFXR2JYJGB0
                      request_id: null
                      payment_method_key: Cq5kiRP6dXFVRjab
                      event_type: RedactPaymentMethod
                      event_data: null
                      created_at: '2025-10-09T19:28:04Z'
                      state: succeeded
                      message: null
                    - token: 0B9BK4CYRC9058XQ9TCJRP2NKK
                      created_at: '2025-10-09T19:28:04Z'
                      updated_at: '2025-10-09T19:28:04Z'
                      succeeded: true
                      transaction_type: AddPaymentMethod
                      retained: true
                      state: succeeded
                      message: null
                      payment_method:
                        token: Cq5kiRP6dXFVRjab
                        created_at: null
                        updated_at: null
                        email: test@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata: null
                        callback_url: null
                        last_four_digits: '1111'
                        first_six_digits: '411111'
                        card_type: visa
                        first_name: Gertrud
                        last_name: Gusikowski
                        month: 4
                        year: 2027
                        address1: 116 Main Street
                        address2: null
                        city: Durham
                        state: NC
                        zip: '27705'
                        country: US
                        phone_number: 123-456-7890
                        company: null
                        full_name: Gertrud Gusikowski
                        eligible_for_card_updater: true
                        shipping_address1: 116 Main Street
                        shipping_address2: null
                        shipping_city: Durham
                        shipping_state: NC
                        shipping_zip: '27705'
                        shipping_country: US
                        shipping_phone_number: 123-456-7890
                        issuer_identification_number: '41111111'
                        click_to_pay: null
                        managed: true
                        bin_metadata:
                          message: BIN Metadata is available only to Advanced Vault enrolled customers and payment methods. Reach out to your account representative for more details.
                        subscribed_to_mastercard_abu: false
                        payment_method_type: credit_card
                        errors: []
                        fingerprint: null
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-1111
                    - on_test_gateway: false
                      created_at: '2025-10-09T19:28:04Z'
                      updated_at: '2025-10-09T19:28:04Z'
                      succeeded: false
                      state: created
                      token: 5usFkwA3Sy4lRTAgeIaQfKISwrZ
                      transaction_type: Purchase
                      order_id: null
                      ip: null
                      description: null
                      email: null
                      merchant_name_descriptor: null
                      merchant_location_descriptor: null
                      merchant_profile_key: null
                      gateway_specific_fields: {}
                      gateway_specific_response_fields: {}
                      gateway_transaction_id: null
                      sub_merchant_key: null
                      gateway_latency_ms: null
                      warning: null
                      application_id: null
                      risk_data: null
                      merchant_metadata: null
                      customer_data: null
                      order_data: null
                      workflow_key: null
                      protection_parameters: {}
                      amount: 4420
                      local_amount: null
                      currency_code: USD
                      retain_on_success: false
                      payment_method_added: false
                      smart_routed: false
                      stored_credential_initiator: null
                      stored_credential_reason_type: null
                      stored_credential_alternate_gateway: null
                      stored_credential_final_payment: false
                      message: null
                      gateway_token: 3SVHVZFXW69QDAY7K9PG8GBM2E
                      gateway_type: test
                      shipping_address:
                        name: null
                        address1: null
                        address2: null
                        city: null
                        state: null
                        zip: null
                        country: null
                        phone_number: null
                      api_urls:
                      - referencing_transaction: []
                      - failover_transaction: []
                      attempt_3dsecure: false
                      payment_method:
                        token: Cq5kiRP6dXFVRjab
                        created_at: null
                        updated_at: null
                        email: test@example.com
                        data: null
                        storage_state: cached
                        test: true
                        metadata: null
                        callback_url: null
                        last_four_digits: '1111'
                        first_six_digits: '411111'
                        card_type: visa
                        first_name: Gertrud
                        last_name: Gusikowski
                        month: 4
                        year: 2027
                        address1: 116 Main Street
                        address2: null
                        city: Durham
                        state: NC
                        zip: '27705'
                        country: US
                        phone_number: 123-456-7890
                        company: null
                        full_name: Gertrud Gusikowski
                        eligible_for_card_updater: true
                        shipping_address1: 116 Main Street
                        shipping_address2: null
                        shipping_city: Durham
                        shipping_state: NC
                        shipping_zip: '27705'
                        shipping_country: US
                        shipping_phone_number: 123-456-7890
                        issuer_identification_number: '41111111'
                        click_to_pay: null
                        managed: true
                        bin_metadata:
                          message: BIN Metadata is available only to Advanced Vault enrolled customers and payment methods. Reach out to your account representative for more details.
                        subscribed_to_mastercard_abu: false
                        payment_method_type: credit_card
                        errors: []
                        fingerprint: null
                        verification_value: XXX
                        number: XXXX-XXXX-XXXX-1111
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_events_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/payment_method_events_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
  /gateways/{gateway_token}/store:
    post:
      summary: Create a store transaction
      tags:
      - payment_methods
      security:
      - basic_auth: []
      operationId: payment_method.store
      description: 'Tokenize a payment method *at the gateway*.


        This transaction copies the payment method information from the Spreedly vault [to the gateway''s vault](https://developer.spreedly.com/docs/third-party-vaulting) and creates a new Spreedly payment method to represent the gateway''s version. The reference to the payment method at the gateway is called a ThirdPartyToken and is a separate payment method from the original payment method. It is up to you to manage the lifecycle of these linked payment methods – Spreedly does not keep them in sync in any way.


        The ThirdPartyToken is locked to the gateway where the card is stored; it cannot be used at another gateway. If you''d like a card to be used at multiple gateways, you''ll need to [retain the card in the Spreedly vault](https://developer.spreedly.com/docs/create-transactions#retain).

        '
      parameters:
      - $ref: '#/components/parameters/gateway_token'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/store_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/store_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/store'
            examples:
              Store at gateway:
                summary: Store at gateway
                value: '{"transaction":{"payment_method_token":""}}'
          application/xml:
            schema:
              $ref: '#/components/schemas/store'
            examples:
              Store at gateway:
                summary: Store at gateway
                value: '{"transaction":{"payment_method_token":""}}'
components:
  schemas:
    store_response:
      type: object
      properties:
        transaction:
          type: object
          description: Root element
          properties:
            created_at:
              type: string
              description: The time the transaction was created
            currency_code:
              type: string
              description: The currency of the funds, as [ISO 4217 alpha currency codes](https://en.wikipedia.org/wiki/ISO_4217#Active_codes), e.g., `USD` for US dollars.
            updated_at:
              type: string
              description: The time the transaction was last updated
            succeeded:
              type: boolean
              description: '`true` if the transaction request was successfully executed, `false` otherwise'
            token:
              type: string
              description: The token uniquely identifying this transaction at Spreedly
            state:
              type: string
              description: The current state of the transaction
            gateway_specific_fields:
              $ref: '#/components/schemas/gateway_specific_fields'
            gateway_specific_response_fields:
              type: object
              description: A hash containing unique optional fields that a gateway may return based on certain customized options.
            transaction_type:
              type: string
              description: The type of transaction
            third_party_token:
              type: string
              description: The token identifying the payment method as it exists *at the gateway*
            gateway_transaction_id:
              type: string
              description: The id of the transaction *at the gateway*. To be used when corresponding with the gateway or reconciling transactions
            gateway_latency_ms:
              type: string
[...]
